<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="beanOgrenci" class="com.furkanyilmaz.Ogrenci">
		<property name="ogrenciList">
			<list>
				<value>Ali Birinci</value>
				<value>Ahmet İkinci</value>
				<value>Selim Üçüncü</value>
				<value>Mehmet Dördüncü</value>
			</list>
		</property>
		<property name="ogrenciSet">
			<set>
				<value>Burak Yılmaz</value>
				<value>Ahmet Çalık</value>
			</set>
		</property>
		<property name="ogrenciMap">
			<map>
				<entry key="1" value="Beşiktaş"></entry>
				<entry key="2" value="Fenerbahce"></entry>
				<entry key="3" value="Galatasaray"></entry>
			</map>
		</property>
		<property name="ogrenciProperties">
			<props>
				<prop key="Erkek">Kategori 1</prop>
				<prop key="Bayan">Kategori 2</prop>
			</props>
		</property>
	</bean>
</beans>
