<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	
	<bean id="BeanPersonel" class="com.furkanyilmaz.Personel">
		<property name="adi" value="Furkan"></property>
		
		<property name="soyadi">
			<value type="java.lang.String">Yılmaz</value>
		</property>
		
		<property name="anneAdi">
			<value type="java.lang.String"></value>
		</property>
		
		<property name="babaAdi"  value=""/>
		
		<property name="adres">
			<value></value>
		</property>
		
		<property name="dogumYili" value="1996"></property>
		
		<property name="maasi" value="5000"></property>
		<property name="medeniHali" value="true"></property>
		
		<property name="ehliyet">
			<value>false</value>
		</property>
		
		<property name="telNo">
			<null></null>
		</property>
	</bean>
</beans>
