<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="adres" class="com.furkanyilmaz.Adres">
		<property name="tamAdres" value="Eminönü Beşiktaş"/>
	</bean>
	
	<bean id="beanCalisan" class="com.furkanyilmaz.Calisan" autowire="default">
		<property name="adi" value="Hasan"/>
		<property name="soyadi" value="Bayat"/>
	<!--<property name="adres" ref="beanAdres"/></property>-->

	<!-- <constructor-arg>
		<ref bean="adres"/>
	</constructor-arg> -->
	
	</bean>
	
</beans>
