<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id="ucgen" class="com.furkanyilmaz.Ucgen">
			<constructor-arg index="0" type="java.lang.String" name="ucgenCesit" value="İkizKenar"/>
			<constructor-arg index="1" type="int" name="yukseklik" value="60"/>
			<constructor-arg index="2" type="double" name="taban" value="11.5"/>
	</bean>


</beans>
