<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<!-- <bean id="beanSiparis" class="com.furkanyilmaz.Siparis">
		<property name="tutar" value="1000"/>
	</bean>
	
	<bean id="beanMusteri" class="com.furkanyilmaz.Musteri">
		<property name="siparis" ref="beanSiparis"/>
	</bean> -->
	
	<bean id="beanMusteri" class="com.furkanyilmaz.Musteri">
		<property name="siparis">
			<bean id="beanSiparis" class="com.furkanyilmaz.Siparis">
				<property name="tutar" value="1000"/>
			</bean>
		</property>
	</bean>
	
	
</beans>
