<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<context:annotation-config/>
	<context:component-scan base-package="com.furkanyilmaz.model , com.furkanyilmaz.services.aop"/>

	<bean id="beanPersonel1" class="com.furkanyilmaz.model.Personel">
		<property name="adi" value="Furkan"></property>
		<property name="soyadi" value="Yilmaz"></property>
		<property name="tecrube" value="#{5+3}"></property>
	</bean>
	<bean id="beanPersonel2" class="com.furkanyilmaz.model.Personel">
		<property name="adi" value="Burak"></property>
		<property name="soyadi" value="Top"></property>
		<property name="tecrube" value="4"></property>
	</bean>
	<bean id="beanAopGorevleri"
		class="com.furkanyilmaz.services.aop.AopGorevleri">
	</bean>

</beans>
