<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config/>
	
	<bean id="dersBean" class="com.furkanyilmaz.Ders">
		<property name="puan" value="98"></property>
		<property name="ders" value="Spring Framework"></property>
<!-- 		<property name="ogrenci" ref="ogrenciBean"></property> -->
	</bean>
	
	
	<bean id="ogrenciBean1" class="com.furkanyilmaz.Ogrenci">
		<property name="adi" value="Furkan"></property>
		<property name="soyadi" value="Yılmaz"></property>
		<property name="yasi" value="24"></property>
	</bean>
	
	<bean id="ogrenciBean2" class="com.furkanyilmaz.Ogrenci">
		<property name="adi" value="Ahmet"></property>
		<property name="soyadi" value="Şeker"></property>
		<property name="yasi" value="29"></property>
	</bean>
	
	<bean id="ogrenciBean3" class="com.furkanyilmaz.Ogrenci">
		<property name="adi" value="Hasan"></property>
		<property name="soyadi" value="Akif"></property>
		<property name="yasi" value="21"></property>
	</bean>
	
	
</beans>
